<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Santerin kalakukot</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<h1>SANTERIN KALAKUKOT</h1>
		<form th:action="@{/listentities}" method="get">
			<input type="submit" value="View FishCocks" class="btn btn-success"/>
		</form>
		<form>
			<a th:href="@{https://www.latlong.net/}" class="btn btn-info" target="_blank">Check geolocation for spotted animal</a>
		</form>
		
	</body>
</html>